body {
    font-family: math !important;
  }

#canvasid {
    border: 1px solid blue;
}   
#nextFigure {
    border: 1px solid red;
} 

canvas{
  float: center; 
  margin: 20 20px;
  position: center;
}
.game_name11 {
    width: 300px;
    text-align: center;
	float: center; 
}
.layout {
    width: 60%; /* Ширина всей таблицы */
}
td {
    /* vertical-align: top;  */
    padding: 10px;
}
/* TD.leftcol {
    width: 400px;
}
TD.rightcol {
    width: 400px;
    background-color: #fc3;
} */
